@use "../../styles/partials/variables" as *;

.tag__btn {
  background-color: #ffffff;
  color: #1e6655;
  border: #1e6655 solid 1px;
  border-radius: 10px;
  font-family: "Outfit";
  padding: 0.5rem 0.75rem;
  margin: 0.3rem;
  font-size: 1rem;

  &--active {
    background-color: $primaryaccent;
    color: $alttext;
  }
}
