@use "../../styles/partials/variables" as *;
@use "../../styles/partials/resets";

.tags {
  background-color: $altbackground;
  padding: 1rem;

  &__list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
}
