@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.photonav__btn {
  background-color: $primarybackground;
  border: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: $primaryaccent;
  font-size: 1.5rem;
}
