@use "../partials/variables" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Outfit";
}

body {
  background-color: $primarybackground;
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
