@use "../../styles/partials/variables" as *;
@use "../../styles/partials/resets";

.cardlist {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  flex-direction: column;
}
