@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.content {
  &__wrapper {
    @include desktop {
      display: flex;
      flex-direction: row-reverse;
    }
  }
}

.hero {
  padding: 0 1.5rem;
  &__title {
    font-family: "Newsreader";
    font-weight: 200;
    margin-bottom: 0.5rem;
    font-size: 1rem;

    @include tablet {
      font-size: 1.5rem;
    }

    @include desktop {
      padding-top: 5rem;
      padding-bottom: 2rem;
    }
  }

  &__body {
    font-size: 1.7rem;
    font-family: "Newsreader";
    font-weight: 300;
    line-height: 2.7rem;
    margin-top: 0;

    &--italic {
      font-family: "Newsreader";
      font-weight: 300;
      font-style: italic;
    }

    @include tablet {
      font-size: 3.25rem;
      line-height: 4.125rem;
    }

    @include desktop {
      width: 80%;
    }
  }
}
