@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.card {
  background-color: $altbackground;
  margin-bottom: 2rem;
  border-radius: 10px;
  border: solid 2px $bordercolor;

  @include tablet {
    width: 48%;
  }

  @include desktop {
    width: 30%;
  }

  &__active {
    width: 48%;
  }

  &__image {
    width: 100%;
    border-radius: 10px 10px 0 0;

    &__wrapper {
      position: relative;
    }
  }

  &__photographer {
    position: absolute;
    right: 0;
    bottom: 0rem;
    color: $primarytext;
    margin: 0;
    padding: 0.5rem;
    background-color: $altbackground;
    border-radius: 10px 0px 0px;
    font-weight: 400;
  }

  &__tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    @include tablet {
      display: flex;
      flex-direction: row;
    }

    &__item {
      background-color: white;
      border: solid 2px $bordercolor;
      border-radius: 10px;
      margin: 0.5rem;
      padding: 6px;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1rem;

      @include tablet {
        margin: 16px 8px;
      }
    }
  }
}
