@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/resets";

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.6rem;

  &__title {
    font-size: 2rem;
    line-height: 2rem;
    color: $primarytext;

    @include tablet {
      font-size: 2.5rem;
      line-height: 2.5rem;
    }
  }
}
