@use "../../styles/partials/variables" as *;

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;

  &__title {
    font-size: 3rem;
  }
}

.filter__btn {
  display: flex;
  align-items: center;
  background-color: $alttext;
  color: $primaryaccent;
  padding: 6px 20px;
  border-radius: 1rem;
  font-family: "Newsreader";
  border: solid $primaryaccent 2px;

  &__title {
    margin: 0 0.5rem 0 0;
    font-size: 1rem;

    &--active {
      color: $alttext;
    }
  }

  &--active {
    background-color: $primaryaccent;
  }
}
